#!/usr/bin/env xdg-open
[Desktop Entry]
Name=المكتبة الشاملة
Categories=Education;
Comment=Shamela Islamic Library.
GenericName=Islamic Library
Keywords=shamela;الشاملة
Exec=/usr/bin/shamela.sh
Terminal=false
Type=Application
Icon=7583_shamela.0
